<h1> You are editing <%=@food.name %></h1>

<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

<%= form_for @food do |f| %>
    <%= f.label :name %>   
    <%= f.text_field :name %>
    
    <%= f.label :calories %>   
    <%= f.number_field :calories %>
    
    <%= f.label :is_vegan %>   
    <%= f.text_field :is_vegan %>
    
    <%= f.submit %>
<% end %>
