<h4> Edit: <%=@food.name%></h4>


<%= form_for @food do |f| %>
    <%= f.label :name %>   
    <%= f.text_field :name %>
    
    <%= f.label :is_vegan %>   
    <%= f.text_field :is_vegan %>
    
    <%= f.submit %>
    <%= link_to "Cancel", :back =%>
<% end %>
