<h4> Enter a food to see if it is vegan: </h4>
<%= form_tag url: "/foods", method: :post do |form| %>
  <%= text_field_tag :ingredient %>
  <%= submit_tag "Submit" %>
<% end %> 

<p> You Entered: <%= @food.name%> </p>
<p> Vegan: 
  <% if @food.is_vegan == true %>
    <%= p "Yes!" %>   
  <% else %>  
    <%= p "Nope!" %>     
  <%end %>
</p>

<h4>Foods: </h4>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Food</th>
      <th scope="col">Vegan</th>
    </tr>
  </thead>
  <tbody>
  <% @foods.each do |food| %>
    <tr>
      <th scope="row">1</th>
      <td><%= food.name %></td>
      <td><%= food.is_vegan %></td>
    </tr>
    <% end %>
  </tbody>
</table>





