<h1> This is foods </h1>
<%= form_tag url: "/foods", method: :post do |form| %>
  <%= text_field_tag :ingredient %>
  <%= submit_tag "Submit" %>
<% end %> 

<ul>
  <% @foods.each do |food| %>
    <li><%= food.name %></li>
    <li><%= food.is_vegan %></li>
  <% end %>
</ul>