<h1> This is foods </h1>
<%= form_tag url: "/foods", method: :post do |form| %>
  <%= text_field_tag :ingredient %>
  <%= submit_tag "Submit" %>
<% end %> 

<p> You Entered: <%= @food.name%> </p>
<p> Vegan: 
  <% if @food.is_vegan == true %>
    <%= p "Yes!" %>   
  <% else %>  
    <%= p "Nope!" %>     
  <%end %>
</p>



<h4> Current Foods: </h4>
<ul>
  <% @foods.each do |food| %>
  <li><%= food.name %></li>
  <% end %>
</ul>




