
<div class = "p-5 bg-light">
<p> Questioning if an ingredient is vegan? </p>
<%= form_tag url: "/foods", method: :post do |form| %>
  <%= text_field_tag :ingredient, nil, class: "form-control", placeholder: "Soy", autofocus: true%>
  <%= submit_tag "Enter", class:"btn btn-primary" %>
<% end %> 
</div>




<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Food</th>
      <th scope="col">Vegan</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
  <% @foods.each do |food| %>
    <tr>
      <td><%= food.name.capitalize %></td>
      <td><%= food.is_vegan.to_s.capitalize %></td>
      <td><%= link_to 'Show', food_path(food.id)%>
      <%= link_to 'Edit', edit_food_path(food.id)%>
      <%= link_to 'Delete', food_path(food.id), method: :delete, remote: true %></td>
    </tr>
  <% end %>
  </tbody>
</table>





