<h4> Enter a food to see if it is vegan: </h4>
<%= form_tag url: "/foods", method: :post do |form| %>
  <%= text_field_tag :ingredient, nil, class: "form-control", placeholder: "Soy", autofocus: true%>
  <%= submit_tag "Submit", class:"btn btn-primary" %>
<% end %> 

<% if Food.all.count > 0 %>
<p> You Entered: <%= @food.name.capitalize%> </p>
<p> Vegan: 
  <%= @food.is_vegan ? "Yes!" : "Nope!" %>
</p>
<% else %>
<p> Enter a food! </p>
<%end %>

<h4>Foods: </h4>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Food</th>
      <th scope="col">Vegan</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
  <% @foods.each do |food| %>
    <tr>
      <td><%= food.name.capitalize %></td>
      <td><%= food.is_vegan.to_s.capitalize %></td>
      <td><%= link_to 'Show', food_path(@food)%>
      <%= link_to 'Edit', food_path(@food)%></td>
    </tr>
    <% end %>
  </tbody>
</table>





