<h4> Enter a food to see if it is vegan: </h4>
<%= form_tag url: "/foods", method: :post do |form| %>
  <%= text_field_tag :ingredient, nil, class: "form-control", placeholder: "Soy", autofocus: true%>
  <%= submit_tag "Submit", class:"btn btn-primary" %>
<% end %> 


<h4>Foods: </h4>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Food</th>
      <th scope="col">Vegan</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
  <% @foods.each do |food| %>
    <tr>
      <td><%= food.name %></td>
      <td><%= food.is_vegan.to_s %></td>
      <td><%= link_to 'Show', food_path(food.id)%>
      <%= link_to 'Edit', edit_food_path(food.id)%>
      <%= link_to 'Delete', food_path(food.id), method: :delete, remote: true %></td>
    </tr>
  <% end %>
  </tbody>
</table>





